*~
.DS_Store
.cache
.lsp-session*
.python-environments
auto-save-list
autosaves
bin
bookmarks
custom.el
elpa
eshell
ido.last
irony
projectile-bookmarks.eld
projects
recentf
request
smex-items
tramp
transient